
experiments/1-subjectivity-negation/js/.Rhistory
experiments/1-subjectivity-negation/.Rhistory
experiments/1-subjectivity-negation/expt-files/.Rhistory
experiments/1-subjectivity-negation/results/.Rhistory
*.history
experiments/exempt-self-determination-tool-negative-strengthening.pdf
experiments/~$empt-self-determination-tool-negative-strengthening.docx
experiments/exempt-self-determination-tool-negative-strengthening.docx
